@import "../helper";

%flex-row {
  display: flex;
  justify-content: space-between;
}

@include display(categoryContainer);
@include display(pathContainer);

.headerBottomContainer {
  height: 120px;
  border-bottom: 0.5px solid #575756;
  .navbarContainer {
    background-color: black;
    // padding: 24px;
    height: 48px;
    .categoryList {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 12px 0;
      margin: 0;
      li {
        color: white;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;

        &:last-child {
          color: red;
          font-size: 17px;
          font-weight: 600;
        }
      }
    }
  }

  .pathContainer {
    height: 84px;
    padding-top: 30px;
    padding-bottom: 20px;
    // padding: 42px 0;
    .path {
      font-size: 16px;
      color: #1d1d1b;
      margin: 0;
    }
  }
}
