@import "../helper";

%flex-row {
  display: flex;
  justify-content: space-around;
}

%headerTopIcons {
  @extend %flex-row;
  cursor: pointer;
  margin: 0 5px;
  .imageContainer {
    margin: auto;
    width: 20px;
    height: 20px;
    img {
      width: 100%;
    }
  }
  .text {
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
}

@include display(headerTop);
.headerTopContainer {
  background-color: var(--primary-color);
  height: 48px;

  .headerTop {
    @extend %flex-row;

    .left {
      @extend %flex-row;
      div {
        margin: auto 0;
      }
      .headerLogo {
        padding-left: 25px;
      }
    }
    .middel {
      @extend %flex-row;
      .headerArrow {
        cursor: pointer;
        margin: auto 0;
      }
      .offerText {
        padding: 0 10px;
        font-size: 14px;
        color: black;
        font-weight: 300;
        .shopNow {
          color: black;
          text-decoration: underline;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .right {
      @extend %flex-row;
      .contact {
        @extend %headerTopIcons;
      }
      .trackOrder {
        @extend %headerTopIcons;
      }
      .findAStore {
        @extend %headerTopIcons;
      }
    }
  }
}
