@import "../helper";

%flex-row {
  display: flex;
  justify-content: space-around;
}

@include display(similarMainProductsContainer);

.similarMainProductsContainer {
  padding-bottom: 30px;
  margin-bottom: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    background-color: var(--secondary-color);
    width: 60%;
    height: 3px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #d9d9d9;
    width: 98%;
    height: 2px;
  }
  .similarProductsHeader {
    font-size: 28px;
    color: var(--secondary-color);
  }
  p {
    font-size: 22px;
    color: #575756;
  }
  .similarProductsContainer {
    @extend %flex-row;
  }
}
