:root {
  --primary-color: #fff100;
  --secondary-color: #542e90;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // font-family: "Nunito", sans-serif;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
