:root {
  --primary-color: #fff100;
  --secondary-color: #542e90;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.headerTopContainer .headerTop .right .contact, .headerTopContainer .headerTop .right .trackOrder, .headerTopContainer .headerTop .right .findAStore, .headerTopContainer .headerTop, .headerTopContainer .headerTop .left, .headerTopContainer .headerTop .middel, .headerTopContainer .headerTop .right, .headerMiddelContainer .headerMiddel .right .cart, .headerMiddelContainer .headerMiddel .right .wishList, .headerMiddelContainer .headerMiddel .right .login, .headerMiddelContainer .headerMiddel, .headerMiddelContainer .headerMiddel .search, .headerMiddelContainer .headerMiddel .middel, .headerMiddelContainer .headerMiddel .right, .productContainer, .productContainer .visualContainer .galleryContainer, .productContainer .visualContainer .gallery, .productContainer .contentContainer .reviewsContainer .starsMainContainer, .productContainer .contentContainer .sizeContainer .sizeList, .productContainer .contentContainer .quantityMainContainer .quantityContainer, .productContainer .contentContainer .orderContainer, .similarMainProductsContainer .similarProductsContainer, .productCardContainer .cardBottom .reviewsContainer .starsMainContainer, .footerMainContainer .footerUpper, .footerMainContainer .footerUpper .rightContainer .info, .footerMainContainer .footerBottom, .footerMainContainer .footerBottom .poweredByContainer, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer, .myCartMainContainer .mianContentContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerTopContainer .headerTop .right .contact, .headerTopContainer .headerTop .right .trackOrder, .headerTopContainer .headerTop .right .findAStore, .headerTopContainer .headerTop, .headerTopContainer .headerTop .left, .headerTopContainer .headerTop .middel, .headerTopContainer .headerTop .right, .headerMiddelContainer .headerMiddel .right .cart, .headerMiddelContainer .headerMiddel .right .wishList, .headerMiddelContainer .headerMiddel .right .login, .headerMiddelContainer .headerMiddel, .headerMiddelContainer .headerMiddel .search, .headerMiddelContainer .headerMiddel .middel, .headerMiddelContainer .headerMiddel .right, .productContainer, .productContainer .visualContainer .galleryContainer, .productContainer .visualContainer .gallery, .productContainer .contentContainer .reviewsContainer .starsMainContainer, .productContainer .contentContainer .sizeContainer .sizeList, .productContainer .contentContainer .quantityMainContainer .quantityContainer, .productContainer .contentContainer .orderContainer, .similarMainProductsContainer .similarProductsContainer, .productCardContainer .cardBottom .reviewsContainer .starsMainContainer, .footerMainContainer .footerUpper, .footerMainContainer .footerUpper .rightContainer .info, .footerMainContainer .footerBottom, .footerMainContainer .footerBottom .poweredByContainer, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer, .myCartMainContainer .mianContentContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerTopContainer .headerTop .right .contact, .headerTopContainer .headerTop .right .trackOrder, .headerTopContainer .headerTop .right .findAStore {
  cursor: pointer;
  margin: 0 5px;
}

.headerTopContainer .headerTop .right .contact .imageContainer, .headerTopContainer .headerTop .right .trackOrder .imageContainer, .headerTopContainer .headerTop .right .findAStore .imageContainer {
  margin: auto;
  width: 20px;
  height: 20px;
}

.headerTopContainer .headerTop .right .contact .imageContainer img, .headerTopContainer .headerTop .right .trackOrder .imageContainer img, .headerTopContainer .headerTop .right .findAStore .imageContainer img {
  width: 100%;
}

.headerTopContainer .headerTop .right .contact .text, .headerTopContainer .headerTop .right .trackOrder .text, .headerTopContainer .headerTop .right .findAStore .text {
  color: black;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.headerTop {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .headerTop {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .headerTop {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .headerTop {
    width: 1170px;
  }
}

.headerTopContainer {
  background-color: var(--primary-color);
  height: 48px;
}

.headerTopContainer .headerTop .left div {
  margin: auto 0;
}

.headerTopContainer .headerTop .left .headerLogo {
  padding-left: 25px;
}

.headerTopContainer .headerTop .middel .headerArrow {
  cursor: pointer;
  margin: auto 0;
}

.headerTopContainer .headerTop .middel .offerText {
  padding: 0 10px;
  font-size: 14px;
  color: black;
  font-weight: 300;
}

.headerTopContainer .headerTop .middel .offerText .shopNow {
  color: black;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
}

.headerTopContainer .headerTop .right .contact, .headerTopContainer .headerTop .right .trackOrder, .headerTopContainer .headerTop .right .findAStore, .headerTopContainer .headerTop, .headerTopContainer .headerTop .left, .headerTopContainer .headerTop .middel, .headerTopContainer .headerTop .right, .headerMiddelContainer .headerMiddel .right .cart, .headerMiddelContainer .headerMiddel .right .wishList, .headerMiddelContainer .headerMiddel .right .login, .headerMiddelContainer .headerMiddel, .headerMiddelContainer .headerMiddel .search, .headerMiddelContainer .headerMiddel .middel, .headerMiddelContainer .headerMiddel .right, .productContainer, .productContainer .visualContainer .galleryContainer, .productContainer .visualContainer .gallery, .productContainer .contentContainer .reviewsContainer .starsMainContainer, .productContainer .contentContainer .sizeContainer .sizeList, .productContainer .contentContainer .quantityMainContainer .quantityContainer, .productContainer .contentContainer .orderContainer, .similarMainProductsContainer .similarProductsContainer, .productCardContainer .cardBottom .reviewsContainer .starsMainContainer, .footerMainContainer .footerUpper, .footerMainContainer .footerUpper .rightContainer .info, .footerMainContainer .footerBottom, .footerMainContainer .footerBottom .poweredByContainer, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer, .myCartMainContainer .mianContentContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerMiddelContainer .headerMiddel .right .cart, .headerMiddelContainer .headerMiddel .right .wishList, .headerMiddelContainer .headerMiddel .right .login {
  margin: 0 15px;
  cursor: pointer;
}

.headerMiddelContainer .headerMiddel .right .cart .imageContainer, .headerMiddelContainer .headerMiddel .right .wishList .imageContainer, .headerMiddelContainer .headerMiddel .right .login .imageContainer {
  margin: auto;
  width: 26px;
  height: 24px;
}

.headerMiddelContainer .headerMiddel .right .cart .imageContainer img, .headerMiddelContainer .headerMiddel .right .wishList .imageContainer img, .headerMiddelContainer .headerMiddel .right .login .imageContainer img {
  width: 100%;
}

.headerMiddelContainer .headerMiddel .right .cart .text, .headerMiddelContainer .headerMiddel .right .wishList .text, .headerMiddelContainer .headerMiddel .right .login .text {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
}

.headerMiddel {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .headerMiddel {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .headerMiddel {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .headerMiddel {
    width: 1170px;
  }
}

.headerMiddelContainer {
  height: 84px;
}

.headerMiddelContainer .headerMiddel {
  padding-top: 10px;
}

.headerMiddelContainer .headerMiddel .input {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 350px;
  height: 48px;
  border: 1px solid #d8d8d8;
  border-radius: 250px;
}

.headerMiddelContainer .headerMiddel .input .searchIcon {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  padding: 0 10px 0 0;
  left: 10px;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.headerMiddelContainer .headerMiddel .input input {
  position: absolute;
  top: 0;
  left: 40px;
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}

.headerMiddelContainer .headerMiddel .input input::-webkit-input-placeholder {
  color: black;
}

.headerMiddelContainer .headerMiddel .input input:-ms-input-placeholder {
  color: black;
}

.headerMiddelContainer .headerMiddel .input input::-ms-input-placeholder {
  color: black;
}

.headerMiddelContainer .headerMiddel .input input::placeholder {
  color: black;
}

.headerMiddelContainer .headerMiddel .search div {
  margin: auto 0;
}

.headerMiddelContainer .headerMiddel .search .headerLogo {
  padding-left: 25px;
}

.headerMiddelContainer .headerMiddel .middel {
  margin: auto 0;
}

.headerMiddelContainer .headerMiddel .middel .brand {
  margin: auto 0;
  width: 85px;
  height: 57px;
  padding: 0 5px;
}

.headerMiddelContainer .headerMiddel .middel .brand img {
  width: 100%;
  height: 100%;
}

.headerMiddelContainer .headerMiddel .middel span {
  font-weight: bold;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.headerMiddelContainer .headerMiddel .right {
  margin: auto 0;
}

.headerMiddelContainer .headerMiddel .right .cart {
  position: relative;
}

.headerMiddelContainer .headerMiddel .right .cart .backgourdContainer {
  position: absolute;
  left: 17px;
  top: 9px;
}

.headerMiddelContainer .headerMiddel .right .cart .cartItemsQuantity {
  position: absolute;
  left: 21px;
  top: 11px;
  margin: 0;
  font-size: 10px;
  font-weight: 600;
}

.headerTopContainer .headerTop .right .contact, .headerTopContainer .headerTop .right .trackOrder, .headerTopContainer .headerTop .right .findAStore, .headerTopContainer .headerTop, .headerTopContainer .headerTop .left, .headerTopContainer .headerTop .middel, .headerTopContainer .headerTop .right, .headerMiddelContainer .headerMiddel .right .cart, .headerMiddelContainer .headerMiddel .right .wishList, .headerMiddelContainer .headerMiddel .right .login, .headerMiddelContainer .headerMiddel, .headerMiddelContainer .headerMiddel .search, .headerMiddelContainer .headerMiddel .middel, .headerMiddelContainer .headerMiddel .right, .productContainer, .productContainer .visualContainer .galleryContainer, .productContainer .visualContainer .gallery, .productContainer .contentContainer .reviewsContainer .starsMainContainer, .productContainer .contentContainer .sizeContainer .sizeList, .productContainer .contentContainer .quantityMainContainer .quantityContainer, .productContainer .contentContainer .orderContainer, .similarMainProductsContainer .similarProductsContainer, .productCardContainer .cardBottom .reviewsContainer .starsMainContainer, .footerMainContainer .footerUpper, .footerMainContainer .footerUpper .rightContainer .info, .footerMainContainer .footerBottom, .footerMainContainer .footerBottom .poweredByContainer, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer, .myCartMainContainer .mianContentContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categoryContainer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .categoryContainer {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .categoryContainer {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .categoryContainer {
    width: 1170px;
  }
}

.pathContainer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .pathContainer {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .pathContainer {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .pathContainer {
    width: 1170px;
  }
}

.headerBottomContainer {
  height: 120px;
  border-bottom: 0.5px solid #575756;
}

.headerBottomContainer .navbarContainer {
  background-color: black;
  height: 48px;
}

.headerBottomContainer .navbarContainer .categoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 12px 0;
  margin: 0;
}

.headerBottomContainer .navbarContainer .categoryList li {
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.headerBottomContainer .navbarContainer .categoryList li:last-child {
  color: red;
  font-size: 17px;
  font-weight: 600;
}

.headerBottomContainer .pathContainer {
  height: 84px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.headerBottomContainer .pathContainer .path {
  font-size: 16px;
  color: #1d1d1b;
  margin: 0;
}

.headerTopContainer .headerTop .right .contact, .headerTopContainer .headerTop .right .trackOrder, .headerTopContainer .headerTop .right .findAStore, .headerTopContainer .headerTop, .headerTopContainer .headerTop .left, .headerTopContainer .headerTop .middel, .headerTopContainer .headerTop .right, .headerMiddelContainer .headerMiddel .right .cart, .headerMiddelContainer .headerMiddel .right .wishList, .headerMiddelContainer .headerMiddel .right .login, .headerMiddelContainer .headerMiddel, .headerMiddelContainer .headerMiddel .search, .headerMiddelContainer .headerMiddel .middel, .headerMiddelContainer .headerMiddel .right, .productContainer, .productContainer .visualContainer .galleryContainer, .productContainer .visualContainer .gallery, .productContainer .contentContainer .reviewsContainer .starsMainContainer, .productContainer .contentContainer .sizeContainer .sizeList, .productContainer .contentContainer .quantityMainContainer .quantityContainer, .productContainer .contentContainer .orderContainer, .similarMainProductsContainer .similarProductsContainer, .productCardContainer .cardBottom .reviewsContainer .starsMainContainer, .footerMainContainer .footerUpper, .footerMainContainer .footerUpper .rightContainer .info, .footerMainContainer .footerBottom, .footerMainContainer .footerBottom .poweredByContainer, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer, .myCartMainContainer .mianContentContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productContainer .contentContainer .quantityMainContainer .quantityContainer .increment, .productContainer .contentContainer .quantityMainContainer .quantityContainer .decrement {
  background-color: var(--primary-color);
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
}

.productContainer .contentContainer .quantityMainContainer .quantityContainer .increment img, .productContainer .contentContainer .quantityMainContainer .quantityContainer .decrement img {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productContainer .contentContainer .orderContainer .cartBtn, .productContainer .contentContainer .orderContainer .pickBtn {
  font-size: 16px;
  font-weight: 600;
  width: 252px;
  height: 54px;
  border-radius: 27px;
  border-style: none;
  cursor: pointer;
}

.productContainer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .productContainer {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .productContainer {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .productContainer {
    width: 1170px;
  }
}

.productContainer {
  margin-top: 41px;
}

.productContainer .visualContainer {
  position: relative;
  padding: 10px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.productContainer .visualContainer .mainImageContainer {
  margin-bottom: 5px;
}

.productContainer .visualContainer .mainImageContainer img {
  width: 100%;
  border-radius: 5px;
}

.productContainer .visualContainer .imageRotationContainer {
  position: absolute;
  width: 64px;
  height: 64px;
  -webkit-box-shadow: 0px 0px 3px #00000040;
          box-shadow: 0px 0px 3px #00000040;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 5px;
  top: 25px;
  left: 25px;
  z-index: 2;
}

.productContainer .visualContainer .imageRotationContainer img {
  width: 100%;
}

.productContainer .visualContainer .galleryContainer .galleryArrow {
  width: 16px;
  height: 24px;
  margin: auto;
  cursor: pointer;
}

.productContainer .visualContainer .gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 500px;
}

.productContainer .visualContainer .gallery::-webkit-scrollbar {
  display: none;
}

.productContainer .visualContainer .gallery li .imageContainer {
  width: 120px;
  height: 120px;
  margin: 3px;
}

.productContainer .visualContainer .gallery li .imageContainer img {
  width: 100%;
}

.productContainer .contentContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 10px;
}

.productContainer .contentContainer .brandImage {
  width: 60px;
  height: 40px;
}

.productContainer .contentContainer .brandImage img {
  width: 100%;
  height: 100%;
}

.productContainer .contentContainer .description {
  width: 395px;
  height: 52px;
}

.productContainer .contentContainer .description .text {
  font-size: 18px;
  font-weight: 600;
}

.productContainer .contentContainer .category {
  max-width: 395px;
  max-height: 28px;
}

.productContainer .contentContainer .category .categoryText {
  color: #a7a9ac;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.productContainer .contentContainer .reviewsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.productContainer .contentContainer .reviewsContainer .starsMainContainer {
  margin: auto 0;
  width: 130px;
}

.productContainer .contentContainer .reviewsContainer .starsMainContainer .starsContainer {
  width: 21px;
  height: 20px;
}

.productContainer .contentContainer .reviewsContainer .starsMainContainer .starsContainer .stars {
  width: 100%;
  height: 100%;
}

.productContainer .contentContainer .reviewsContainer .rating {
  margin: auto 15px auto 15px;
}

.productContainer .contentContainer .reviewsContainer .rating .ratingText {
  font-size: 17px;
  font-weight: 600;
}

.productContainer .contentContainer .reviewsContainer .votes {
  margin: auto 0;
}

.productContainer .contentContainer .reviewsContainer .votes .votesText {
  font-size: 15px;
  font-weight: 500;
  color: #575756;
}

.productContainer .contentContainer .priceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}

.productContainer .contentContainer .priceContainer .currentPrice {
  margin: auto 0;
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 600;
}

.productContainer .contentContainer .priceContainer .currentPrice .currency {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 400;
}

.productContainer .contentContainer .priceContainer .beforePrice {
  margin: auto 15px auto 15px;
  font-size: 16px;
  font-weight: 600;
  color: #a7a9ac;
  text-decoration: line-through;
}

.productContainer .contentContainer .priceContainer .beforePrice .currency {
  font-weight: 400;
}

.productContainer .contentContainer .priceContainer .discountContainer {
  margin: auto 0;
  background-color: var(--primary-color);
  width: 77px;
  height: 27px;
  border-radius: 3px;
}

.productContainer .contentContainer .priceContainer .discountContainer .discount {
  margin: auto 0;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 400;
  font-size: 14px;
}

.productContainer .contentContainer .sizeContainer {
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}

.productContainer .contentContainer .sizeContainer .sizeHeader {
  font-size: 18px;
  font-weight: 600;
}

.productContainer .contentContainer .sizeContainer .sizeList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 360px;
}

.productContainer .contentContainer .sizeContainer .sizeList .size {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 0.5px solid #d9d9d9;
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  padding-top: 22px;
}

.productContainer .contentContainer .sizeContainer .sizeList .size:nth-child(3) {
  color: black;
  background-color: #ececec;
}

.productContainer .contentContainer .colorContainer {
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}

.productContainer .contentContainer .colorContainer .colorHeader {
  font-size: 18px;
  font-weight: 600;
}

.productContainer .contentContainer .colorContainer .colorList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
  max-width: 360px;
}

.productContainer .contentContainer .colorContainer .colorList .color {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.productContainer .contentContainer .colorContainer .colorList .color img {
  width: 100%;
}

.productContainer .contentContainer .colorContainer .colorList .color:first-child {
  border: 1px solid #542e90;
  margin-right: 5px;
}

.productContainer .contentContainer .quantityMainContainer {
  padding-bottom: 20px;
}

.productContainer .contentContainer .quantityMainContainer .quantityHeader {
  font-size: 18px;
  font-weight: 600;
}

.productContainer .contentContainer .quantityMainContainer .quantityContainer {
  width: 252px;
  height: 48px;
  background: #f5f5f5;
  border: 0.5px solid #d9d9d9;
  border-radius: 24px;
}

.productContainer .contentContainer .quantityMainContainer .quantityContainer .increment {
  margin: 5px 0 0 5px;
}

.productContainer .contentContainer .quantityMainContainer .quantityContainer .quantity {
  margin: auto;
  font-size: 16px;
  font-weight: 700;
}

.productContainer .contentContainer .quantityMainContainer .quantityContainer .decrement {
  margin: 5px 5px 0 0;
}

.productContainer .contentContainer .orderContainer .cartBtn {
  color: white;
  background-color: var(--secondary-color);
}

.productContainer .contentContainer .orderContainer .pickBtn {
  background-color: var(--primary-color);
}

.headerTopContainer .headerTop .right .contact, .headerTopContainer .headerTop .right .trackOrder, .headerTopContainer .headerTop .right .findAStore, .headerTopContainer .headerTop, .headerTopContainer .headerTop .left, .headerTopContainer .headerTop .middel, .headerTopContainer .headerTop .right, .headerMiddelContainer .headerMiddel .right .cart, .headerMiddelContainer .headerMiddel .right .wishList, .headerMiddelContainer .headerMiddel .right .login, .headerMiddelContainer .headerMiddel, .headerMiddelContainer .headerMiddel .search, .headerMiddelContainer .headerMiddel .middel, .headerMiddelContainer .headerMiddel .right, .productContainer, .productContainer .visualContainer .galleryContainer, .productContainer .visualContainer .gallery, .productContainer .contentContainer .reviewsContainer .starsMainContainer, .productContainer .contentContainer .sizeContainer .sizeList, .productContainer .contentContainer .quantityMainContainer .quantityContainer, .productContainer .contentContainer .orderContainer, .similarMainProductsContainer .similarProductsContainer, .productCardContainer .cardBottom .reviewsContainer .starsMainContainer, .footerMainContainer .footerUpper, .footerMainContainer .footerUpper .rightContainer .info, .footerMainContainer .footerBottom, .footerMainContainer .footerBottom .poweredByContainer, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer, .myCartMainContainer .mianContentContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.similarMainProductsContainer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .similarMainProductsContainer {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .similarMainProductsContainer {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .similarMainProductsContainer {
    width: 1170px;
  }
}

.similarMainProductsContainer {
  padding-bottom: 30px;
  margin-bottom: 20px;
  position: relative;
}

.similarMainProductsContainer::after {
  content: "";
  position: absolute;
  bottom: -1px;
  background-color: var(--secondary-color);
  width: 60%;
  height: 3px;
}

.similarMainProductsContainer::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #d9d9d9;
  width: 98%;
  height: 2px;
}

.similarMainProductsContainer .similarProductsHeader {
  font-size: 28px;
  color: var(--secondary-color);
}

.similarMainProductsContainer p {
  font-size: 22px;
  color: #575756;
}

.headerTopContainer .headerTop .right .contact, .headerTopContainer .headerTop .right .trackOrder, .headerTopContainer .headerTop .right .findAStore, .headerTopContainer .headerTop, .headerTopContainer .headerTop .left, .headerTopContainer .headerTop .middel, .headerTopContainer .headerTop .right, .headerMiddelContainer .headerMiddel .right .cart, .headerMiddelContainer .headerMiddel .right .wishList, .headerMiddelContainer .headerMiddel .right .login, .headerMiddelContainer .headerMiddel, .headerMiddelContainer .headerMiddel .search, .headerMiddelContainer .headerMiddel .middel, .headerMiddelContainer .headerMiddel .right, .productContainer, .productContainer .visualContainer .galleryContainer, .productContainer .visualContainer .gallery, .productContainer .contentContainer .reviewsContainer .starsMainContainer, .productContainer .contentContainer .sizeContainer .sizeList, .productContainer .contentContainer .quantityMainContainer .quantityContainer, .productContainer .contentContainer .orderContainer, .similarMainProductsContainer .similarProductsContainer, .productCardContainer .cardBottom .reviewsContainer .starsMainContainer, .footerMainContainer .footerUpper, .footerMainContainer .footerUpper .rightContainer .info, .footerMainContainer .footerBottom, .footerMainContainer .footerBottom .poweredByContainer, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer, .myCartMainContainer .mianContentContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.productCardContainer {
  margin: 0 5px;
  padding: 5px;
  width: 268px;
  height: 440px;
  /* UI Properties */
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 5px #00000026;
          box-shadow: 0px 0px 5px #00000026;
  border-radius: 5px;
}

.productCardContainer .visualContentContainer {
  position: relative;
}

.productCardContainer .visualContentContainer .imageContainer {
  margin: 0 auto;
  width: 254px;
  height: 254px;
}

.productCardContainer .visualContentContainer .imageContainer img {
  width: 100%;
}

.productCardContainer .visualContentContainer .imageRotationContainer {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0px 0px 3px #00000040;
          box-shadow: 0px 0px 3px #00000040;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 5px;
  top: 5px;
  left: 5px;
  z-index: 2;
}

.productCardContainer .visualContentContainer .imageRotationContainer img {
  width: 100%;
}

.productCardContainer .cardBottom {
  padding: 5px;
}

.productCardContainer .cardBottom .description {
  font-size: 14px;
  font-weight: 600;
  width: 236px;
  height: 42px;
  letter-spacing: 0px;
  color: #1d1d1b;
  margin-right: auto;
}

.productCardContainer .cardBottom .middelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productCardContainer .cardBottom .middelContainer .priceContainer {
  width: 127px;
  max-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productCardContainer .cardBottom .middelContainer .priceContainer .price {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}

.productCardContainer .cardBottom .middelContainer .priceContainer .price span {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
}

.productCardContainer .cardBottom .middelContainer .priceContainer .discountContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productCardContainer .cardBottom .middelContainer .priceContainer .discountContainer .beforePrice {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  color: #a7a9ac;
  text-decoration: line-through;
}

.productCardContainer .cardBottom .middelContainer .priceContainer .discountContainer .beforePrice span {
  font-size: 10px;
  font-weight: 400;
  color: #a7a9ac;
}

.productCardContainer .cardBottom .middelContainer .priceContainer .discountContainer .discout {
  width: 52px;
  height: 18px;
  background-color: #fff200;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 400;
  padding-top: 3px;
  padding-left: 17px;
}

.productCardContainer .cardBottom .reviewsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 200px;
}

.productCardContainer .cardBottom .reviewsContainer .starsMainContainer {
  margin: auto 0;
  width: 130px;
}

.productCardContainer .cardBottom .reviewsContainer .starsMainContainer .starsContainer {
  width: 21px;
  height: 20px;
}

.productCardContainer .cardBottom .reviewsContainer .starsMainContainer .starsContainer .stars {
  width: 100%;
  height: 100%;
}

.productCardContainer .cardBottom .reviewsContainer .rating .ratingText {
  font-size: 14px;
  font-weight: 600;
}

.productCardContainer .cardBottom .locationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.productCardContainer .cardBottom .locationContainer .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productCardContainer .cardBottom .locationContainer .location .destination {
  font-size: 10px;
  font-weight: 500;
  margin: 5px;
}

.productCardContainer .cardBottom .locationContainer .location .destination span {
  font-size: 12px;
  font-weight: 600;
}

.headerTopContainer .headerTop .right .contact, .headerTopContainer .headerTop .right .trackOrder, .headerTopContainer .headerTop .right .findAStore, .headerTopContainer .headerTop, .headerTopContainer .headerTop .left, .headerTopContainer .headerTop .middel, .headerTopContainer .headerTop .right, .headerMiddelContainer .headerMiddel .right .cart, .headerMiddelContainer .headerMiddel .right .wishList, .headerMiddelContainer .headerMiddel .right .login, .headerMiddelContainer .headerMiddel, .headerMiddelContainer .headerMiddel .search, .headerMiddelContainer .headerMiddel .middel, .headerMiddelContainer .headerMiddel .right, .productContainer, .productContainer .visualContainer .galleryContainer, .productContainer .visualContainer .gallery, .productContainer .contentContainer .reviewsContainer .starsMainContainer, .productContainer .contentContainer .sizeContainer .sizeList, .productContainer .contentContainer .quantityMainContainer .quantityContainer, .productContainer .contentContainer .orderContainer, .similarMainProductsContainer .similarProductsContainer, .productCardContainer .cardBottom .reviewsContainer .starsMainContainer, .footerMainContainer .footerUpper, .footerMainContainer .footerUpper .rightContainer .info, .footerMainContainer .footerBottom, .footerMainContainer .footerBottom .poweredByContainer, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer, .myCartMainContainer .mianContentContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerContainer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .footerContainer {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .footerContainer {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .footerContainer {
    width: 1170px;
  }
}

.footerMainContainer {
  background-color: #3c3c3b;
}

.footerMainContainer .footerContainer {
  padding-top: 35px;
  padding-bottom: 15px;
}

.footerMainContainer .footerUpper {
  border-bottom: 1px solid #666565;
  padding-bottom: 25px;
}

.footerMainContainer .footerUpper .leftContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 20px;
  border-right: 1px solid #666565;
}

.footerMainContainer .footerUpper .leftContainer .imageContainer {
  max-width: 220px;
  max-height: 57px;
}

.footerMainContainer .footerUpper .leftContainer .imageContainer img {
  width: 100%;
  height: 100%;
}

.footerMainContainer .footerUpper .leftContainer .textContainer {
  margin: 35px auto 0 auto;
  width: 100%;
  width: 494px;
  height: 252px;
}

.footerMainContainer .footerUpper .leftContainer .textContainer .text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.footerMainContainer .footerUpper .rightContainer {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-left: 30px;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .searchBoxHeader {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input {
  background-color: white;
  border-radius: 24px;
  width: 576px;
  height: 48px;
  position: relative;
  height: 40px;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input input {
  position: absolute;
  border-style: none;
  border-radius: 200px;
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  left: 15px;
  font-size: 16px;
  background: #ffffff;
  border-radius: 24px;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input input::-webkit-input-placeholder {
  color: var(--secondary-color);
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input input:-ms-input-placeholder {
  color: var(--secondary-color);
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input input::-ms-input-placeholder {
  color: var(--secondary-color);
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input input::placeholder {
  color: var(--secondary-color);
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input .subscribeBtn {
  background-color: var(--primary-color);
  width: 116px;
  height: 34px;
  border-radius: 19px;
  z-index: 10;
  position: absolute;
  top: 3px;
  right: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10px 0 15px;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input .subscribeBtn .textContainer {
  margin: auto 0;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input .subscribeBtn .textContainer .text {
  color: black;
  font-size: 10px;
  font-weight: 500;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input .subscribeBtn .imageContainer {
  margin: auto 0;
  width: 21px;
  height: 21px;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input .subscribeBtn .imageContainer img {
  width: 100%;
}

.footerMainContainer .footerUpper .rightContainer .info {
  margin-top: 25px;
}

.footerMainContainer .footerUpper .rightContainer .info .contactsContainer {
  padding-right: 140px;
  border-right: 1px solid #666565;
}

.footerMainContainer .footerUpper .rightContainer .info .contactsContainer .contants {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.footerMainContainer .footerUpper .rightContainer .info .contactsContainer .contants li {
  font-size: 16px;
  color: white;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 12px;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer .socialMedia .imageContainer {
  width: 33px;
  height: 33px;
  margin: auto;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer .socialMedia .imageContainer img {
  width: 100%;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer .socialMedia .textContainer {
  margin: auto;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer .socialMedia .textContainer .text {
  color: white;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 400;
}

.footerMainContainer .footerBottom {
  margin-top: 25px;
}

.footerMainContainer .footerBottom .copyrights {
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.footerMainContainer .footerBottom .payment {
  margin: auto;
}

.footerMainContainer .footerBottom .payment img {
  margin: 0 5px;
}

.footerMainContainer .footerBottom .poweredByContainer {
  margin: auto 0;
}

.footerMainContainer .footerBottom .poweredByContainer .powerdBy {
  color: white;
  margin: 0 10px 0 0;
}

.footerMainContainer .footerBottom .poweredByContainer .imageContainer {
  width: 100px;
  height: 19px;
}

.footerMainContainer .footerBottom .poweredByContainer .imageContainer img {
  width: 100%;
  height: 100%;
}

.headerTopContainer .headerTop .right .contact, .headerTopContainer .headerTop .right .trackOrder, .headerTopContainer .headerTop .right .findAStore, .headerTopContainer .headerTop, .headerTopContainer .headerTop .left, .headerTopContainer .headerTop .middel, .headerTopContainer .headerTop .right, .headerMiddelContainer .headerMiddel .right .cart, .headerMiddelContainer .headerMiddel .right .wishList, .headerMiddelContainer .headerMiddel .right .login, .headerMiddelContainer .headerMiddel, .headerMiddelContainer .headerMiddel .search, .headerMiddelContainer .headerMiddel .middel, .headerMiddelContainer .headerMiddel .right, .productContainer, .productContainer .visualContainer .galleryContainer, .productContainer .visualContainer .gallery, .productContainer .contentContainer .reviewsContainer .starsMainContainer, .productContainer .contentContainer .sizeContainer .sizeList, .productContainer .contentContainer .quantityMainContainer .quantityContainer, .productContainer .contentContainer .orderContainer, .similarMainProductsContainer .similarProductsContainer, .productCardContainer .cardBottom .reviewsContainer .starsMainContainer, .footerMainContainer .footerUpper, .footerMainContainer .footerUpper .rightContainer .info, .footerMainContainer .footerBottom, .footerMainContainer .footerBottom .poweredByContainer, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard, .myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer, .myCartMainContainer .mianContentContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.myCartMainContainer .mianContentContainer .mainCartHeader, .myCartMainContainer .mianContentContainer .ItemCardContainer, .myCartMainContainer .mianContentContainer .buttonContainer {
  max-width: 411px;
  margin-left: auto;
  margin-right: auto;
}

.myCartMainContainer .mianContentContainer .buttonContainer .reviewBtn, .myCartMainContainer .mianContentContainer .buttonContainer .checkoutBtn {
  font-size: 12px;
  font-weight: 600;
  width: 196px;
  height: 48px;
  border-radius: 24px;
  border-style: none;
}

.myCartMainContainer .overLay {
  position: fixed;
  background-color: black;
  opacity: 0.25;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 20;
}

.myCartMainContainer .mianContentContainer {
  background-color: #ffffff;
  height: 100vh;
  -webkit-box-shadow: -1.78px -1.78px 4px #00000040;
          box-shadow: -1.78px -1.78px 4px #00000040;
  position: fixed;
  z-index: 21;
  top: 0;
  right: 0;
  width: 475px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.myCartMainContainer .mianContentContainer .closeImageContainer {
  position: absolute;
  right: 25px;
  width: 16px;
  margin-top: 25px;
  margin-right: 15px;
  height: 16px;
  cursor: pointer;
}

.myCartMainContainer .mianContentContainer .closeImageContainer img {
  width: 100%;
}

.myCartMainContainer .mianContentContainer .mainCartTitle {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  font-weight: 600px;
  color: var(--secondary-color);
}

.myCartMainContainer .mianContentContainer .mainCartHeader {
  font-size: 18px;
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard {
  padding: 5px;
  margin: 10px 0;
  max-width: 411px;
  max-height: 120px;
  background: #ffffff;
  border: 0.75px solid #ececec;
  border-radius: 7px;
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .imageContainer {
  width: 104px;
  height: 104px;
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .imageContainer img {
  width: 100%;
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer {
  width: 285px;
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .description {
  width: 267px;
  min-height: 42px;
  font-size: 14px;
  font-weight: 600;
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer .quantityPriceContainer .quantity {
  padding-top: 5px;
  max-width: 210px;
  min-height: 21px;
  font-size: 11px;
  font-weight: 600;
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer .quantityPriceContainer .currentPrice {
  margin: 0;
  padding-top: 5px;
  max-width: 181px;
  min-height: 34px;
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color);
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer .quantityPriceContainer .currentPrice .currency {
  font-weight: 400;
  font-size: 14px;
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer .removeBtnContainer {
  padding-bottom: 15px;
}

.myCartMainContainer .mianContentContainer .ItemCardContainer .ItemCard .contentContainer .bottomContainer .removeBtnContainer .removeBtn {
  width: 80px;
  height: 24px;
  background: #fff200 0% 0% no-repeat padding-box;
  border-radius: 12px;
  border: none;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.myCartMainContainer .mianContentContainer .totalPrice {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.myCartMainContainer .mianContentContainer .buttonContainer .reviewBtn {
  background: var(--primary-color);
}

.myCartMainContainer .mianContentContainer .buttonContainer .checkoutBtn {
  background: var(--secondary-color);
  color: white;
}

.container {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

.container img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=App.css.map */